:root{
    --pad-view: 100px;
}

@media (max-width: 1400px) {
    :root{
        --pad-view: 100px;
    }
}
@media (max-width: 1200px) {
    :root{
        --pad-view: 80px;
    }

}
@media (max-width: 992px) {
    :root{
        --pad-view: 60px;
    }
}
@media (max-width: 768px) {
    :root{
        --pad-view: 40px;
    }
}
@media (max-width: 576px) {
    :root{
        --pad-view: 20px;
    }
}
@media (max-width: 450px) {
    :root{
        --pad-view: 15px;
    }
}
@media (max-width: 380px) {
    :root{
        --pad-view: 15px;
    }
}

.container-sec{
    padding-right: var(--pad-view);
    padding-left: var(--pad-view);
}
.section-div{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.gallery-sec {
    .grid-gallery {
        display: grid;
        grid-gap: 16px;
        gap: 16px;
        position: relative;
        max-height: 600px;
        @for $i from 1 through 6 {
            .item:nth-of-type(#{$i}) {
                grid-area: item#{$i};
            }
        }
        .item {
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.17%, #000000 100%);

            .img {
                width: 100%;
                transition: all 0.6s;
                height: 100%;
                object-fit: cover;
                transition: all 0.6s;
            }
            .text-parent {
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 12px;
                z-index: 3;
                .title {
                    color:var(--color);
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                }
                .description {
                    color:var(--color);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%;
                }
            }
            
        }
    
        .item:hover {
            .img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
            }
        }
        grid-template-columns: repeat(10, minmax(0px, 1fr));
        grid-template-rows: repeat(6, minmax(0px, 1fr));
        .item:nth-of-type(1) {
            grid-column: 1 / 3;
            grid-row: 1 / 7;
        }
        .item:nth-of-type(2) {
            grid-column: 3 / 5;
            grid-row: 1 / 4;
        }

        .item:nth-of-type(3) {
            grid-column: 5 / 9;
            grid-row: 1 / 4;
        }
        .item:nth-of-type(4) {
            grid-column: 3 / 7;
            grid-row: 4 / 7;
        }
        .item:nth-of-type(5) {
            grid-column: 7 / 9;
            grid-row: 4 / 7;
        }
        .item:nth-of-type(6) {
            grid-column: 9 / 11;
            grid-row: 1 / 7;
        }
    } 
}