/* Error: "&" may only used at the beginning of a compound selector.
 *     ,
 * 233 |         .wish&quick-view{
 *     |              ^
 *     '
 *   assets\style.scss 233:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "&" may only used at the beginning of a compound selector.\a     \2577 \a 233 \2502          .wish&quick-view{\d\a     \2502               ^\a     \2575 \a   assets\\style.scss 233:14  root stylesheet';
}
